<div class="row animated fadeIn">

	<!-- Grid column -->
	<div class="col">
		<!-- Collection card -->
		<div class="card collection-card z-depth-1-half">
			<!-- Card image -->
			<div class="view zoom waves-light overlay">
				<img src="assets/pics/glass-00/picture.jpg" height="500" width="100%" alt="Blancs">
				<!-- Wave effect -->
				<a href="#">
					<div class="mask waves-effect waves-light rgba-white-slight" mdbWavesEffect></div>
				</a>
			</div>
			<!-- Card image -->
		</div>
		<!-- Collection card -->
	</div>
	<!-- Grid column -->

	<!-- Grid column -->
	<div class="col">
		<!-- Collection card -->
		<div class="card collection-card z-depth-1-half">
			<!-- Card image -->
			<div class="view zoom waves-light overlay">
				<img src="assets/pics/glass-01/picture.jpg" height="500" width="100%" alt="Blancs">
				<!-- Wave effect -->
				<a href="#">
					<div class="mask waves-effect waves-light rgba-white-slight" mdbWavesEffect></div>
				</a>
			</div>
			<!-- Card image -->
		</div>
		<!-- Collection card -->
	</div>
	<!-- Grid column -->

	<!-- Grid column -->
	<div class="col">
		<!-- Collection card -->
		<div class="card collection-card z-depth-1-half">
			<!-- Card image -->
			<div class="view zoom waves-light overlay">
				<img src="assets/pics/glass-02/picture.jpg" height="500" width="100%" alt="Blancs">
				<!-- Wave effect -->
				<a href="#">
					<div class="mask waves-effect waves-light rgba-white-slight" mdbWavesEffect></div>
				</a>
			</div>
			<!-- Card image -->
		</div>
		<!-- Collection card -->
	</div>
	<!-- Grid column -->

</div>
