<mdb-card class="mt-5 animated fadeIn"
	style="background: black; background-image: url('assets/pics/barrel-00/picture.jpg'); background-size: contain; background-repeat: no-repeat">
	<div class="text-white text-center py-5 px-4 my-5">
		<div>
			<h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
				<strong>Découvrir notre catalogue</strong>
			</h2>
			<!--
			<p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
				voluptatem,
				optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
				qui,
				dolorum!
			</p> -->
			<a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
				<mdb-icon fas icon="wine-bottle"></mdb-icon> Consulter
			</a>
		</div>
	</div>
</mdb-card>
